extends layout

block content
  h1 CuriTab by SDC
  p.lead
  hr
  .row
    .col-sm-6
      h2 Coming soon...
      p Content here...
      p
        a.btn.btn-default(href='#', role='button') View details »
